*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.nav_bar
{
    background-color: #04734b;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#effect
{
    text-decoration: none;
    color: inherit;
} 



.icon
{
    
    display: flex;
    height: 50px;
    width: 100px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #ffffff;
}

.location
{
  
    height: 50px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;

}

.location1
{
    font-size: 12px;
    font-weight: 400;
    margin-left: 32px;
    
}
.location2
{
    display: flex;
    font-size: 14px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
}

.location2 i
{
    font-size: 1.5em;
}

#India
{
    margin-left: 4px;
}

.search
{
    display: flex;
    width: 885px;
    flex-wrap: wrap;
    
}

#all
{
    height: 40px;
    width: 48px;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    background-color: #e6e6e6;
    border: 0;
    
}


select option
{
    background-color: #ffffff;
    
}

#bar
{
    height: 40px;
    width: 790px;
    border: 0;
    text-indent:5px;
    
}

.search2 input::placeholder
{
    font-size: 16px;
    color: gray;
}

.search3
{
    height: 40px;
    width: 45px;
    background-color: rgb(154, 19, 154);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search3:hover
{
    background-color:rgb(101, 14, 101);
}

.search3:active
{
    border: 1px solid pink;
}

.sign_in
{
    height: 50px;
    width: 113px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sign_in1 
{
    display: block;
    font-size: 12px;
    font-weight: 400;
    
}

.sign_in2
{
    display: block;
    font-size: 14px;
    font-weight: 700;
      
}

.cart
{
    display: flex;
    height: 50px;
    width: 90px;
}

.cart1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 20px;
    bottom: 2px;
    
    
}

.cart1_2
{
    position: absolute;
    font-size: 35px;
    color: #ffffff;
    
}

.cart1_1
{
    
    font-size: 13px;
    color: gray;
    font-weight: 800;
    position: relative;
    bottom: 7px;
    left: 3px;
    z-index: 1;
}

.cart2
{
    position: relative;
    left: 40px;
    top: 22px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}

.border
{
    border: 2px solid transparent;
}

.border:hover
{
    border: 2px solid #ffffff;
}

#all:hover
{
    background-color: #e6e6e6e0;
}

/** SHOP **/

.shop
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #053c28e7;
    height: 39px;
}

.bars
{
    display: flex;
    align-items: center;
    color: #ffffff;
    height: 39px;
    width: 50px;
    margin: 9px;
    font-size: 17px;
    font-weight: 700;
}

.bars:hover
{
    border: 2px solid #ffffff;
}

p
{
    position: relative;
    left: 5px;
}

.items
{
    font-size: 14px;
    color: #ffffff;
    margin: 9px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.board
{
    background-image: url(main\ header.jpg);
    height: 320px;
    width: 1536.1px;
    background-size: cover;
    display: flex;
    flex-direction:column-reverse;
}

#Click
{
    margin-left: 10px;
}

.line
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #f5f6f6;
    margin-bottom: 15px;
}

.products
{
    height:1400px;
    width: 1536.1px;
    background-color: #fc465c;
    display: flex;
    flex-wrap: wrap;
}

.productss1
{
    height: 425px;
    width: 370px;
    background-color: #f5f6f6;
    margin: 5px;
}

.products1
{
    position: relative;
    height: 425px;
    width: 350px;
    background-color: #f5f6f6;
    display: flex;
    justify-content:center;
    align-items:right;
    flex-direction: column ;
    gap: 15px;
    left: 18px;

}


#img1
{
    height: 303px;
    width: 330px;
}

.end
{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #ddd;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#button
{
   
    background-color: #e7ab13;
    height: 28px;
    width: 230px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.signIn
{
   
    width: 500px;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

#startHere
{
    position: relative;
    left: 10px;
    text-decoration: none;
}

/** FOOTER **/

.footer3
{
    height: 50px;
    background-color: #494848;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

#backtotop
{
    text-decoration: none;
}

.footer3:hover
{
    background-color: #555353;
}
.footer1
{
    background-color: #333333;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

ul
{
    list-style-type: none;
    
}

ul li
{
    margin-top: 15px;
}

ul h3
{
    color: #ffffff;
}

ul a
{
    text-decoration: none;
    color: #ffffff;
}

.footer1_1
{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer2
{
    background-color: #0f1111;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid #ffffff;
    color: #ffffff;
}

#copyright
{
    position: relative;
    left: 10px;
}


